.header {
  &-image_block {
    display: none;
  }
}

.page-header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 17px;

  &-logo &-logo_mobile {
    display: block;
    transform: translateY(-1px);
    width: 191px;
    height: 38px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &-logo &-logo_tablet {
    display: none;
  }

  &-logo &-logo_desktop {
    display: none;
  }

  &-toggle {
    display: block;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin-top: 5px;
  }
}

.main-toggle-icon {
  margin: 0 auto;

  &--open {
    display: block;
  }

  &--close {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 34px;

    &-image_block {
      display: none;
    }
  }

  .page-header {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__main {
      justify-content: flex-start;
      min-width: 192px;
      padding: 0;

      &-logo &-logo_tablet {
        display: block;
        transform: translate(-4px, -10px);
        width: 180px;
        height: 58px;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }
      }

      &-logo &-logo_mobile {
        display: none;
      }

      &-logo &-logo_desktop {
        display: none;
      }

      &-toggle {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    position: relative;
    padding-top: 64px;

    &--index::before {
      content: "";
      position: absolute;
      min-width: 720px;
      height: 696px;
      background: $green-bg;
      background-size: 720px 696px;
      left: 50%;
      right: 0;
      top: 0;
      z-index: -10;
    }

    &-image_block {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -5;
    }
  }

  .page-header__main {
    &-logo &-logo_desktop {
      display: block;
      width: 202px;
      height: 59px;
      transform: translate(0, -10px);

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }

    &-logo &-logo_mobile {
      display: none;
    }

    &-logo &-logo_tablet {
      display: none;
    }
  }
}

