$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

.catalog {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  &__title {
    padding: 14px 20px 29px;
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
    border-bottom: 1px solid #ededed;
    margin: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
  }

  &__more {
    text-align: center;
    padding-top: 26px;
    padding-bottom: 25px;

    &-title {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: #111111;
      margin-top: 20px;
      margin-bottom: 8px;
    }

    &-text {
      font-family: "Arial", sans-serif;
      font-size: 12px;
      line-height: 16px;
      margin-top: 0;
      margin-bottom: 21px;
    }
  }

  &__icon-plus {
    fill: #d3d3d3;
    width: 30px;
    height: 30px;
  }

  &__show-button {
    color: #222222;
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.product {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;

  &__wrapper {
    display: flex;
  }

  &__image {
    width: 50%;
  }

  &__description {
    width: 50%;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #111111;
    width: 100px;
    margin-top: 21px;
    margin-bottom: 12px;
  }

  &__list {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    width: 100%;
    border-spacing: 0;
    color: #444444;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__item-cell {
    padding: 2px 0;
  }

  &__button {
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    border: none;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__title {
      padding: 52px 30px 0;
      font-size: 60px;
      line-height: 60px;
      border: none;
    }

    &__list {
      padding-top: 26px;
      padding-bottom: 63px;
      border: 0;
    }

    &__item {
      width: calc(50% - 30px);
      margin-bottom: 0;
      border: none;
    }

    &__more {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 54px 30px 40px;
      margin-top: 140px;
      border: 1px solid #e6e6e6;
      width: calc(50% - 30px);
      margin-bottom: 0;

      &-title {
        font-size: 20px;
        line-height: 20px;
        width: 160px;
        margin-top: 49px;
        margin-bottom: 25px;
      }

      &-text {
        font-size: 16px;
        line-height: 20px;
        width: 169px;
        margin-bottom: 95px;
      }
    }

    &__icon-plus {
      fill: #d3d3d3;
      width: 60px;
      height: 60px;
    }

    &__show-button {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .product {
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 37px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 140px;
    background: #f2f2f2;

    &__wrapper {
      flex-direction: column;
      align-items: center;
      margin-bottom: 33px;
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 120px;

      &--small {
        width: 324px;
        height: auto;
      }

      &--big {
        width: 324px;
        height: auto;
      }
    }

    &__description {
      width: 100%;
    }

    &__title {
      font-size: 20px;
      text-align: center;
      width: 150px;
      margin: 34px auto 15px;
    }

    &__list {
      font-size: 16px;
      line-height: 16px;
      border-collapse: collapse;
    }

    &__item {
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #cdcdcd;
    }

    &__button {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    border: none;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__title {
      padding: 52px 40px 60px;
      font-size: 60px;
      line-height: 60px;
      border: none;
      max-width: 1300px;
      margin: 0 auto;
    }

    &__list {
      padding-top: 30px;
      border: 0;
    }

    &__item {
      width: 245px;
      margin-bottom: 69px;
      border: none;
    }

    &__more {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 54px 37px 40px;
      margin-top: 140px;
      border: 1px solid #e6e6e6;
      width: 245px;
      margin-bottom: 69px;

      &-title {
        font-size: 20px;
        line-height: 20px;
        width: 160px;
        margin-top: 49px;
        margin-bottom: 25px;
      }

      &-text {
        font-size: 16px;
        line-height: 20px;
        width: 169px;
        margin-bottom: 95px;
      }
    }

    &__icon-plus {
      fill: #d3d3d3;
      width: 60px;
      height: 60px;
    }

    &__show-button {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .product {
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 38px;
    margin-left: 0;
    background: #f2f2f2;

    &__wrapper {
      flex-direction: column;
      align-items: center;
      margin-bottom: 33px;
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 120px;

      &--small {
        width: 245px;
        height: auto;
      }

      &--big {
        width: 245px;
        height: auto;
      }
    }

    &__description {
      width: 100%;
    }

    &__title {
      font-size: 20px;
      text-align: center;
      width: 150px;
      margin: 34px auto 15px;
    }

    &__list {
      font-size: 16px;
      line-height: 16px;
      border-collapse: collapse;
    }

    &__item {
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #cdcdcd;
    }

    &__button {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
