$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

.cooperation {
  background-color: #f2f2f2;

  &__inner {
    padding-top: 29px;
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #111111;
    width: 50%;
    margin: 0;
  }

  &__adress {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 50%;
  }

  &__street {
    margin: 0;
  }

  &__city {
    margin: 0;
  }

  &--index {
    background: #ffffff;
  }
}

.map {
  border: 0;
  margin-bottom: -2px;
}

@media (min-width: $tablet-width) {
  .cooperation {
    &__inner {
      padding: 64px 41px 57px;
    }

    &__title {
      width: 160px;
      font-size: 20px;
      line-height: 25px;
    }

    &__adress {
      font-size: 16px;
      width: 170px;
      text-align: right;
    }

    &__street {
      margin-bottom: 22px;
    }

    &--index {
      background: #ffffff;
    }
  }

  .map {
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    position: relative;

    &__inner {
      position: absolute;
      width: 570px;
      top: 95px;
      padding: 64px 77px 58px;
      background: #ffffff;
    }

    &__title {
      width: 50%;
      font-size: 20px;
      line-height: 25px;
    }

    &__adress {
      width: 40%;
      text-align: left;
    }

    &__street {
      margin-bottom: 20px;
      width: 155px;
    }

    &--index {
      background: #ffffff;
    }

    &__map {
      margin-bottom: -2px;
    }
  }

  .map {
    height: 400px;
    margin-bottom: -3px;
  }
}
