.head-info {
  &__wrapper {
    padding-top: 29px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-size: 100% 305px;
    background-position: center top;
    background-repeat: no-repeat;
  }

  &__title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 28px;
    text-align: center;
    margin-top: 0;
  }

  &__text {
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__button {
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 5px;
  }
}
