$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;

.page-header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 17px;

  &-logo {
    width: 191px;
    height: 38px;
    background: url("../img/logo-mobile.svg") center no-repeat;
    background-size: cover;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &-toggle {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    margin-top: 5px;
  }
}

.main-toggle-icon {
  margin: 0 auto;

  &--open {
    display: block;
  }

  &--close {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding-top: 24px;
  }

  .page-header {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__main {
      justify-content: flex-start;
      min-width: 192px;
      padding: 0;

      &-logo {
        width: 180px;
        height: 58px;
        background: url("../img/logo-tablet.svg") center no-repeat;
        background-size: cover;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }
      }

      &-toggle {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    position: relative;
    padding-top: 54px;

    &--index::before {
      content: "";
      position: absolute;
      min-width: 720px;
      height: 696px;
      background: url("../img/index-background-desktop@1x.jpg") no-repeat;
      background-size: 720px 696px;
      z-index: -1;
      left: 50%;
      right: 0;
      top: 0;

      @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px 696px;
      }
    }
  }

  .page-header__main {
    &-logo {
      width: 202px;
      height: 59px;
      background: url("../img/logo-desktop.svg") center no-repeat;
      background-size: cover;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-dppx), (min-width: $desktop-width) and (min-resolution: $retina-dpi) {
  .header--index::before {
    background-image: url("../img/index-background-desktop@2x.jpg");
    background-size: 720px 696px;
  }
}
