$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

.page-footer {
  background: #f2f2f2;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 27px;
    outline: none;
  }

  &__academy-block {
    padding-top: 14px;
    padding-bottom: 22px;
  }

  &__academy-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:active {
      opacity: 0.3;
    }
  }

  &__academy-text {
    color: #666666;
    position: relative;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }

  &__academy-icon {
    fill: #666666;
  }

  &__academy-link:hover &__academy-icon {
    fill: #68b738;
  }

  &__academy-link:focus &__academy-icon {
    fill: #68b738;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 55px;
    padding-bottom: 49px;

    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__logo {
      justify-content: flex-start;
      min-width: 162px;
      padding: 0;
    }

    &__academy-block {
      min-width: 162px;
      align-items: center;
      padding: 0;
    }

    &__academy-link {
      justify-content: space-between;
    }
  }
}

.social-list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 23px 0 17px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  &__item {
    text-align: center;
    width: 55px;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    outline: none;
  }

  &__icon {
    fill: #666666;

    &--vk {
      width: 22px;
      height: 12px;
    }

    &--inst {
      width: 16px;
      height: 16px;
    }

    &--fb {
      width: 10px;
      height: 19px;
    }

    &:hover {
      fill: #73bc47;
    }

    &:focus {
      fill: #73bc47;
    }

    &:active {
      fill: #73bc47;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    min-width: 380px;
    border: none;
    padding: 0;
    justify-content: center;

    &__item {
      text-align: center;
      width: 55px;
    }

    &__icon {
      fill: #666666;

      &--vk {
        width: 31px;
        height: 19px;
      }

      &--inst {
        width: 23px;
        height: 23px;
      }

      &--fb {
        width: 14px;
        height: 28px;
        margin-top: -5px;
        margin-left: -14px;
      }
    }
  }
}

.footer__logo {
  width: 130px;
  height: 25px;
  fill: #111111;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .footer__logo {
    min-width: 128px;
    height: 24px;
  }
}
