$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

.selection {
  border-top: 1px solid #e6e6e6;
  margin-top: 20px;

  &__heading {
    padding-top: 16px;
    padding-bottom: 29px;

    &--title {
      font-size: 36px;
      line-height: 60px;
      font-weight: 400;
      color: #111111;
      margin: 0;
    }

    &--text {
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color: #111111;
      width: 85%;
      margin-top: 24px;
      margin-bottom: 0;
    }
  }
}

.fields {
  padding-top: 11px;
  padding-bottom: 31px;

  &__set {
    &--personal {
      padding-bottom: 10px;
    }

    &--program {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
      border: 1px solid #ededed;
    }

    &--contact {
      margin-top: 0;
    }

    &--description {
      margin-top: -14px;
    }

    &--add {
      margin-top: -2px;
      padding-bottom: 24px;
    }
  }

  &__head {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__head::before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 42px;
    right: -20px;
    background-color: #68b738;
  }

  &__title {
    display: inline-block;
    vertical-align: baseline;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #111111;
    max-width: 205px;
    padding-right: 21px;
    padding-top: 9px;
    margin: 0;
    background-color: #ffffff;
  }

  &__block {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__label {
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
    white-space: nowrap;
  }

  &__text-field {
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px;
    border: 1px solid #e6e6e6;
    outline: 0;
    margin-left: 15px;

    &::placeholder {
      color: #444444;
    }

    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus {
      border: 2px solid #444444;
      padding: 11px 14px;
    }

    &:invalid {
      border: 2px solid #ff8282;
      padding: 11px 14px;
    }
  }

  &__inner {
    margin-top: 14px;
  }

  &__textarea {
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #e6e6e6;
    outline: 0;
    width: 100%;
    height: 150px;
    padding: 12px 10px 12px 15px;
    margin-top: 14px;
    resize: none;

    &::placeholder {
      color: #444444;
    }

    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus {
      border: 2px solid #444444;
      padding: 11px 14px;
    }

    &:invalid {
      border: 2px solid #ff8282;
      padding: 11px 14px;
    }
  }

  &__icon {
    position: absolute;

    &--mail {
      right: 16px;
      top: 14px;
    }

    &--phone {
      right: 13px;
      top: 12px;
    }
  }

  &__text-field:focus + &__icon {
    fill: #68b738;
  }

  &__text-field:invalid + &__icon {
    fill: #ff8282;
  }

  &__button-block {
    text-align: center;
  }

  &__button {
    width: 100%;
    margin-bottom: 17px;
    padding-top: 11px;
    padding-bottom: 12px;
  }

  &__note {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
  }
}

.program-type-list {
  padding: 0;
  list-style: none;
  margin: 20px 0 22px;

  &__item {
    margin-bottom: 12px;
  }

  &__input {
    display: none;
  }

  &__input:checked + &__label::after {
    display: block;
  }

  &__label {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #111111;
    width: 100%;
    padding-left: 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    outline: none;

    &:active {
      opacity: 0.3;
    }
  }

  &__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ededed;
    border-radius: 50%;
  }

  &__label:hover::before {
    border-color: #bcbcbc;
  }

  &__label:focus::before {
    border-color: #bcbcbc;
  }

  &__label::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 9px;
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #68b738;
  }
}

.add-list {
  padding: 0;
  list-style: none;
  margin: 14px 0 0;

  &__item {
    margin-bottom: 12px;
  }

  &__input {
    display: none;
  }

  &__input:checked + &__label::before {
    background-image: url("../img/icon-tick.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }

  &__label {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #111111;
    padding-left: 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    outline: none;

    &:active {
      opacity: 0.3;
    }
  }

  &__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ededed;
  }

  &__label:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #bababa;
  }

  &__label:focus::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #bababa;
  }
}

@media (min-width: $tablet-width) {
  .selection {
    border-top: none;

    &__heading {
      padding-top: 38px;
      padding-bottom: 55px;

      &--title {
        font-size: 60px;
      }

      &--text {
        text-transform: uppercase;
        color: #111111;
        width: 330px;
        margin-top: 56px;
        margin-left: 40px;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  .fields {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;

    &__wrapper {
      font-size: 20px;
      line-height: 20px;
    }

    &__set {
      &--personal {
        padding-bottom: 82px;
      }

      &--program {
        padding-left: 28px;
        margin-left: 0;
        margin-right: 0;
      }

      &--contacts {
        margin-top: 0;
      }

      &--add {
        margin-top: -13px;
        padding-bottom: 24px;
      }
    }

    &__head {
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 66px;
      padding-bottom: 62px;
    }

    &__head::before {
      width: 150%;
      height: 3px;
      top: 98px;
      right: -70px;
    }

    &__title {
      font-size: 36px;
      line-height: 36px;
      max-width: 100%;
      padding-right: 40px;
      padding-left: 40px;
      margin: 0 40px 0 -40px;
    }

    &__block {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &__block:nth-last-child(1) {
      margin-bottom: -16px;
    }

    &__label {
      font-size: 20px;
      line-height: 20px;
    }

    &__text-field {
      font-size: 20px;
      padding: 14px 17px;
      margin-left: 17px;
      margin-bottom: 5px;

      &::placeholder {
        color: #444444;
      }

      &:hover {
        border: 1px solid #cdcdcd;
      }

      &:focus {
        border: 2px solid #444444;
        padding: 17px;
      }

      &:invalid {
        border: 2px solid #ff8282;
        padding: 17px;
      }
    }

    &__inner {
      margin-top: 14px;
    }

    &__textarea {
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      border: 1px solid #e6e6e6;
      outline: 0;
      width: 100%;
      height: 175px;
      padding: 11px 20px;
      margin-top: 15px;
      margin-bottom: 2px;
      resize: none;

      &::placeholder {
        color: #444444;
      }

      &:hover {
        border: 1px solid #cdcdcd;
      }

      &:focus {
        border: 2px solid #444444;
        padding: 12px 19px;
      }

      &:invalid {
        border: 2px solid #ff8282;
        padding: 12px 19px;
      }
    }

    &__icon {
      position: absolute;

      &--mail {
        right: 21px;
        top: 20px;
      }

      &--phone {
        right: 14px;
        top: 18px;
      }
    }

    &__button-block {
      display: flex;
      justify-content: space-between;
    }

    &__button {
      width: calc(50% - 30px);
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-right: 30px;
    }

    &__note {
      font-family: "Arial", sans-serif;
      font-size: 16px;
      line-height: 16px;
      width: calc(50% - 30px);
      margin-left: 30px;
      align-self: center;
      text-align: left;
    }
  }

  .program-type-list {
    margin: 30px 0 30px;

    &__item {
      margin-bottom: 20px;
    }

    &__label {
      position: relative;
      display: inline-block;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      color: #111111;
      width: 100%;
      padding-left: 59px;
      padding-top: 6px;
      padding-bottom: 6px;
      cursor: pointer;
      outline: none;

      &:active {
        opacity: 0.3;
      }
    }

    &__label::before {
      width: 40px;
      height: 40px;
      top: -4px;
    }

    &__label::after {
      content: "";
      position: absolute;
      left: 11px;
      top: 7px;
      display: none;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #68b738;
    }
  }

  .add-list {
    padding: 0;
    list-style: none;
    margin: -5px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
      margin-bottom: 36px;
      width: 50%;
    }

    &__item:nth-child(2n) {
      margin-bottom: 34px;
      padding-left: 30px;
      width: 50%;
    }

    &__input {
      display: none;
    }

    &__input:checked + &__label::before {
      background-image: url("../img/icon-tick.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
    }

    &__label {
      position: relative;
      display: inline-block;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      color: #111111;
      padding-left: 58px;
      padding-top: 10px;
      padding-bottom: 6px;
      cursor: pointer;
      outline: none;

      &:active {
        opacity: 0.3;
      }
    }

    &__label::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid #ededed;
    }

    &__label:hover::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid #bababa;
    }

    &__label:focus::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid #bababa;
    }
  }
}

@media (min-width: $desktop-width) {
  .selection {
    border-top: none;

    &__heading {
      padding-top: 56px;
      padding-bottom: 54px;

      &--title {
        font-size: 60px;
      }

      &--text {
        text-transform: uppercase;
        color: #111111;
        width: 330px;
        margin-top: 54px;
        margin-left: 0;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  .fields {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 11px;
    }

    &__set {
      &--personal {
        padding-bottom: 0;
        width: 570px;
      }

      &--program {
        width: 570px;
        padding-left: 28px;
        margin-left: 0;
        margin-right: 0;
      }

      &--contacts {
        padding-top: 7px;
        margin-top: -30px;
        width: 100%;
      }

      &--add {
        margin-top: -24px;
        padding-bottom: 30px;
        width: 100%;
      }

      &--description {
        width: 100%;
        margin-top: -40px;
      }
    }

    &__head {
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 78px;
      padding-bottom: 64px;
    }

    &__head::before {
      width: 150vw;
      height: 3px;
      top: 109px;
      right: -50vw;
    }

    &__title {
      font-size: 36px;
      line-height: 36px;
      max-width: 100%;
      padding-right: 40px;
      padding-left: 40px;
      margin: 0 40px 0 -40px;
    }

    &__block {
      position: relative;
      align-items: center;
      width: 570px;
      margin-bottom: 15px;
    }

    &__block:nth-last-child(1) {
      margin-bottom: 0;
    }

    &__label {
      font-size: 20px;
      line-height: 20px;
    }

    &__text-field {
      font-size: 20px;
      padding: 14px 18px;
      margin-left: 17px;
      margin-bottom: 5px;

      &::placeholder {
        color: #444444;
      }

      &:hover {
        border: 1px solid #cdcdcd;
      }

      &:focus {
        border: 2px solid #444444;
        padding: 17px;
      }

      &:invalid {
        border: 2px solid #ff8282;
        padding: 17px;
      }
    }

    &__textarea {
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      border: 1px solid #e6e6e6;
      outline: 0;
      width: 100%;
      height: 175px;
      padding: 8px 18px;
      margin-top: 14px;
      resize: none;

      &::placeholder {
        color: #444444;
      }

      &:hover {
        border: 1px solid #cdcdcd;
      }

      &:focus {
        border: 2px solid #444444;
        padding: 12px 19px;
      }

      &:invalid {
        border: 2px solid #ff8282;
        padding: 12px 19px;
      }
    }

    &__icon {
      position: absolute;

      &--mail {
        right: 21px;
        top: 20px;
      }

      &--phone {
        right: 14px;
        top: 18px;
      }
    }

    &__button-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__button {
      width: calc(50% - 40px);
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-right: 30px;
    }

    &__note {
      font-family: "Arial", sans-serif;
      font-size: 16px;
      line-height: 16px;
      width: calc(50% - 40px);
      margin-left: 30px;
      align-self: center;
      text-align: left;
    }
  }

  .program-type-list {
    margin: 30px 0 30px;

    &__item {
      margin-bottom: 20px;
    }

    &__label {
      position: relative;
      display: inline-block;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      color: #111111;
      width: 100%;
      padding-left: 58px;
      padding-top: 6px;
      padding-bottom: 6px;
      cursor: pointer;
      outline: none;

      &:active {
        opacity: 0.3;
      }
    }

    &__label::before {
      width: 40px;
      height: 40px;
      top: -4px;
    }

    &__label::after {
      content: "";
      position: absolute;
      left: 11px;
      top: 7px;
      display: none;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #68b738;
    }
  }

  .add-list {
    padding: 0;
    list-style: none;
    margin: -7px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      margin-bottom: 34px;
      width: 245px;
    }

    &__item:nth-child(2n) {
      margin-bottom: 34px;
      padding-left: 0;
      width: 245px;
    }

    &__input:checked + &__label::before {
      background-image: url("../img/icon-tick.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
    }

    &__label {
      position: relative;
      display: inline-block;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      color: #111111;
      padding-left: 59px;
      padding-top: 10px;
      padding-bottom: 6px;
      cursor: pointer;
      outline: none;

      &:active {
        opacity: 0.3;
      }
    }

    &__label::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid #ededed;
    }

    &__label:hover::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid #bababa;
    }

    &__label:focus::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid #bababa;
    }
  }
}
